body {
background: #FF000000;
color: #FF2D65FC;
font-family: Bahnschrift light condensed;
padding: 10px;
margin: 50px;
box-shadow: 0px 10px 30px;
border-radius: 30px;
}
}
h1, h2, h3{
font-family: Calisto MT;
 
}
h1{
color: #FF2D65FC;
background: white;
padding: 10px;
margin: 20px;
box-shadow: 0px 10px 30px;
border-radius: 20px;
}
h2{
color: #FF2D65FC
font-weight: lighter;
width: 700px; 
margin: 20px
box-shadow: 0px 10px 30px;
border-radius: 5px
padding: 10Px;
}
a {
text-decoration: none;
color: #FF2D65FC;
}
a:hover {
color: #FF2D65FC;
}
 
div{
background: #FF000000;
border: 2px #FF000000;
padding: 10px;
margin: 2px;
box-shadow: 0px 10px 30px;
border-radius: 15px;
}
 
body {
background: #FF000000;
color: #FF2D65FC;
font-family: Bahnschrift light condensed;
padding: 10px;
margin: 50px;
box-shadow: 0px 10px 30px;
border-radius: 30px;
}
}
h1, h2, h3{
font-family: Calisto MT;
 
}
h1{
color: #FF2D65FC;
background: white;
padding: 10px;
margin: 20px;
box-shadow: 0px 10px 30px;
border-radius: 20px;
}
h2{
color: #FF2D65FC
font-weight: lighter;
width: 700px; 
margin: 20px
box-shadow: 0px 10px 30px;
border-radius: 5px
padding: 10Px;
}
a {
text-decoration: none;
color: #FF2D65FC;
}
a:hover {
color: #FF2D65FC;
}
 
div{
background: #FF000000;
border: 2px #FF000000;
padding: 10px;
margin: 2px;
box-shadow: 0px 10px 30px;
border-radius: 15px;
}
 
body {
background: #FF000000;
color: #FF2D65FC;
font-family: Bahnschrift light condensed;
padding: 10px;
margin: 50px;
box-shadow: 0px 10px 30px;
border-radius: 30px;
}
}
h1, h2, h3{
font-family: Calisto MT;
 
}
h1{
color: #FF2D65FC;
background: white;
padding: 10px;
margin: 20px;
box-shadow: 0px 10px 30px;
border-radius: 20px;
}
h2{
color: #FF2D65FC
font-weight: lighter;
width: 700px; 
margin: 20px
box-shadow: 0px 10px 30px;
border-radius: 5px
padding: 10Px;
}
a {
text-decoration: none;
color: #FF2D65FC;
}
a:hover {
color: #FF2D65FC;
}
 
div{
background: #FF000000;
border: 2px #FF000000;
padding: 10px;
margin: 2px;
box-shadow: 0px 10px 30px;
border-radius: 15px;
}